@font-face {
  font-family: "Alenia";
  src:
    url("fonts/Alenia.woff2");
    url("fonts/Alenia.woff");
}
@font-face {
  font-family: "Astroz";
  src:
    url("fonts/Astroz Trial.woff2");
    url("fonts/Astroz Trial.woff");
}
@font-face {
  font-family: "Konect";
  src:
    url("fonts/KonectDemo-Regular.woff2");
    url("fonts/KonectDemo-Regular.woff");
}

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5em;
    box-sizing: border-box;
    font-family: "Konect";
}

form main h1{
    width: 100%;
    margin-left: 64px;
    font-size: 50px;
    font-family: "Astroz";
    letter-spacing: 5px;
}

body{
    display: flex;
    height: 100vh;
    justify-content: flex-end;
}

#content{
    display: flex;
    flex-direction: column;
    width: 1200px;
}

form{
    display: flex;
    flex-direction: column;
}


form main{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    background-color: white;
    height: 350px;
    align-items: center;
    padding-bottom: 32px;
    box-shadow: 0px 13px 5px -5px rgb(204, 203, 203);
}

form main div{
    margin: 0 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 400px;
}


#content{
    background-color: rgb(247, 247, 247);
}

.input label{
    font-size: 14px;
}

.input input{
    width: 350px;
    max-height: 32px;
    padding-left: 4px;
}